---
import Base from '../../layouts/Base.astro';
import { getEntry } from 'astro:content';

const aboutContent = await getEntry('portfolio', 'about');
const { Content } = await aboutContent.render();
---

<Base title={aboutContent.data.title} description={aboutContent.data.description}>
  <main class="mx-auto max-w-4xl px-6 py-12">
    <Content />
  </main>
</Base>
