---
import Base from '../../layouts/Base.astro';
import { getEntry } from 'astro:content';

const contactContent = await getEntry('portfolio', 'contact');
const { Content } = await contactContent.render();
---

<Base title={contactContent.data.title} description={contactContent.data.description}>
  <main class="mx-auto max-w-4xl px-6 py-12">
    <Content />
  </main>
</Base>
